<section class="container" [ngClass]="{'form-shadow' : registrationForm.touched }">
  <header>Registration Form</header>

  <form class="form" #registrationForm="ngForm" (ngSubmit)="onFormSubmitted(registrationForm)">
    <div class="column">
      <div class="input-box">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" ngModel placeholder="First Name" required autocomplete="given-name" />
      </div>

      <div class="input-box">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" ngModel placeholder="Last Name" required autocomplete="family-name" />
      </div>
    </div>

    <div class="input-box">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" ngModel placeholder="Email" autocomplete="email" required />
    </div>

    <div class="column">
      <div class="input-box">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" ngModel placeholder="Phone Number" autocomplete="tel" required />
      </div>
      <div class="input-box">
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="dob" ngModel autocomplete="bday" required />
      </div>
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender">
          <input type="radio" id="check-male" name="gender" ngModel value="male" required  />
          <label for="check-male">Male</label>
        </div>
        <div class="gender">
          <input type="radio" id="check-female" name="gender" ngModel value="female" required />
          <label for="check-female">Female</label>
        </div>
        <div class="gender">
          <input type="radio" id="check-other" name="gender" ngModel value="other" required />
          <label for="check-other">Prefer not to say</label>
        </div>
      </div>
    </div>

    <div class="input-box address">
      <label for="street1">Street Address</label>
      <input type="text" id="street1" name="street1" ngModel placeholder="Street address" autocomplete="address-line1" required />

      <label for="street2">Street Address Line 2</label>
      <input type="text" id="street2" name="street2" ngModel placeholder="Street address line 2" autocomplete="address-line2" required />

      <div class="column">
        <div class="select-box">
          <label for="country">Country</label>
          <select style="border: 1px solid #707070; border-radius: 8px" id="country" name="country" ngModel autocomplete="country" required>
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>

        <div>
          <label for="city">City</label>
          <input type="text" id="city" name="city" ngModel placeholder="City" autocomplete="address-level2" required />
        </div>
      </div>

      <div class="column">
        <div>
          <label for="region">Region</label>
          <input type="text" id="region" name="region" ngModel placeholder="Region" autocomplete="address-level1" required />
        </div>
        <div>
          <label for="postalCode">Postal Code</label>
          <input type="number" id="postalCode" name="postalCode" ngModel placeholder="Postal code" autocomplete="postal-code" required />
        </div>
      </div>
    </div>

    <input
    [ngClass]="{'disable-btn': !isFormValid()}"
    [disabled]="!isFormValid()" type="submit" value="Submit" class="submit-btn" />
  </form>
</section>
